<header class="topbar">
    <a href="/" class="btn">Back to Home</a>
  
    <% if (showActions) { %>
      <nav class="right-buttons">
        <button class="btn btn-publish">Publish</button>
        <button class="btn btn-save">Save</button>
        <button class="btn btn-download" id="btn-download">Download</button>
      </nav>
    <% } %>
  </header>
